{%include 'user_header.html'%}
  <!-- Hero Start -->
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-start">
                <div class="col-lg-8 text-center text-lg-start">

<center>
	<h1 style="color: white;">USER HOME PAGE</h1>
    <p style="color: white" align="left">Welcome, User<br>

We are thrilled to have you as part of our heart disease prediction platform. Your prediction results are now available for review. It is important to take the time to understand your results and their implications. However, please remember that our predictions are based on statistical models and are not a substitute for professional medical advice. If you have any concerns, we strongly recommend consulting with a qualified healthcare professional for further evaluation and personalized guidance.<br>

In addition to providing prediction results, we are pleased to offer you the opportunity to consult with experienced doctors directly through our platform. If your prediction indicates a potential risk of heart disease or if you have any questions or concerns, you can request a consultation with a doctor conveniently from our website. Our doctors are ready to provide expert guidance and personalized recommendations based on your specific situation.<br>

Regardless of your prediction results, maintaining a healthy lifestyle is key to heart disease prevention. Engaging in regular physical activity, following a balanced diet, managing stress, and avoiding smoking or excessive alcohol consumption contribute to your overall heart health.<br>

Rest assured that the privacy and security of your personal information are of utmost importance to us. We strictly adhere to privacy protocols and regulations to ensure the confidentiality and protection of your data.<br>

If you have any questions, encounter technical issues, or require assistance, our dedicated support team is here to help. Don't hesitate to reach out to us, and we will be glad to assist you.<br>

Thank you for being a valuable member of our heart disease prediction platform. Our aim is to provide you with valuable insights, convenient access to medical expertise, and the tools to take proactive steps towards a heart-healthy lifestyle. Your health is our priority, and we are committed to supporting you every step of the way.<br>

Best regards,<br>
CARDIOCHECK Team
        
    </p>
</center>

				</div>
            </div>
        </div>
    </div>
<!-- Hero End -->
{%include 'footer.html'%}