


<center>
    <form method="post" enctype="multipart/form-data">
    
    <h2>Upload Your Ecg Files</h2>
    <table class="table table-striped" style="width:800px">
        <tr>
            <th>Upload Your Ecg</th>
            <td><input type="file" name="file" class="form-control"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"> <input type="submit" name="submit" style="width:250px" class="btn btn-primary"></td>
        </tr>
    </table>	
    </center>
    
    </form>
    